<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link">
          A-EYE
        </a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link">
          git
        </a>
      </li>
    </ul>
    <div class="copyright">
      ©
      <script>
        document.write(new Date().getFullYear())
      </script>2018 made with <i class="tim-icons icon-heart-2"></i> by A-EYE
    </div>
  </div>
</footer>
</div>