<div class="wrapper">
  <div class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="javascript:void(0)" class="simple-text logo-normal">
          A-EYE
        </a>
      </div>
      <ul class="nav">
        <li>
          <a href="{{ url_for('index') }}">
            <i class="tim-icons icon-image-02"></i>
            <p>Image</p>
          </a>
        </li>
        <li>
          <a href="{{ url_for('index') }}">
            <i class="tim-icons icon-caps-small"></i>
            <p>Text</p>
          </a>
        </li>
        <li>
          <a href="./test.html">
            <i class="tim-icons icon-bold"></i>
            <p>번역</p>
          </a>
        </li>
        <li>
          <a href="./test.html">
            <i class="tim-icons icon-chat-33"></i>
            <p>챗봇</p>
          </a>
        </li>
        <li>
          <a href="{{ url_for('teams') }}">
            <i class="tim-icons icon-single-02"></i>
            <p>팀원</p>
          </a>
        </li>
      </ul>
    </div>
  </div>