{% extends "common/layout.html" %}

{% block content %}
<div class="main-panel">
  <div class="content">
    <div class="row">
      <div class="col-12">
        <center>
          <div id="camera">
            <img src="{{ url_for('static', filename=path) }}" alt="capture">
          </div>
          <div style="font-size: 44px;">
            <a href="{{ url_for('root') }}">
              <i class="tim-icons icon-refresh-01"></i>
            </a>
          </div>
          <div>
            <p>{{label}}</p>
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
<script>
  $('html').click(function (e){ 
    if (!$(e.target).hasClass("camera")) {
       location.href = "{{ url_for('root') }}";
       } 
  });
  </script>
  {% endblock javascripts %}